body{
    background-color: darkgrey;
    
}
main{
    top: 55px;
}
nav{
    background-color: black;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
}
nav a:hover{
    color: white;
    font-size: 120%;
    text-shadow: silver 0.2 0.2 0.3;
}